{
    "openapi": "3.1.0",
    "info": {
        "title": "ServiceM8 API",
        "description": "Move your app forward with the ServiceM8 API\n\n\n\n## Limits and Throttling\nTo ensure continuous quality of service, API usage can be subject to throttling. The throttle will be applied once an API consumer reaches a certain \nthreshold in terms of a maximum number of requests per minute. Most clients will never hit this threshold, but those that do, will get met by a \nHTTP 429 Too Many Requests response code. \n \nThere is a limit of 180 requests per minute, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per minute exceeded\".\nThere is a limit of 20000 requests per day, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per day exceeded\".\n\nWe encourage all API developers to anticipate this error, and take appropriate measures like e.g. using a cached value from a previous call, or passing on a message to the end user that gets subjected to this behaviour (if any).\n\nLimits are per Addon per account.\n",
        "termsOfService": "https://www.servicem8.com/terms-of-service",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.servicem8.com/api_1.0"
        }
    ],
    "security": [
        {
            "apiKey": []
        },
        {
            "oauth2": []
        }
    ],
    "paths": {
        "/allocationwindow.json": {
            "get": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "listAllocationWindows",
                "summary": "List all Allocation Windows",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Allocation Windows",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AllocationWindow"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-e606-41b2-a908-231cfb9c831b",
                                                "active": 1,
                                                "edit_date": "2025-08-01 12:00:00",
                                                "name": "string",
                                                "start_time": "string",
                                                "end_time": "string",
                                                "sort_priority": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "createAllocationWindows",
                "summary": "Create a new Allocation Window",
                "description": "\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Allocation Window record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllocationWindow"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Allocation Window record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allocationwindow/{uuid}.json": {
            "get": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "getAllocationWindows",
                "summary": "Retrieve an Allocation Window",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocation Window record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllocationWindow"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-9fc1-4cbf-bb5d-231cf6d51f7b",
                                            "active": 1,
                                            "edit_date": "2025-08-01 12:00:00",
                                            "name": "string",
                                            "start_time": "string",
                                            "end_time": "string",
                                            "sort_priority": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "updateAllocationWindows",
                "summary": "Update an Allocation Window",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Allocation Window fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllocationWindow"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "deleteAllocationWindows",
                "summary": "Delete an Allocation Window",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocation Window successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/asset.json": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "operationId": "listAssets",
                "summary": "List all Assets",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Assets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Asset"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-f9de-4db5-811f-231cfe6d607b",
                                                "active": 1,
                                                "edit_date": "2025-08-01 12:00:00",
                                                "company_uuid": "123e4567-7d1c-4a63-8f3a-231cf68528cb",
                                                "asset_code": "string",
                                                "asset_type_uuid": "123e4567-bf61-46b9-b072-231cff44b22b",
                                                "name": "string",
                                                "lat": "number",
                                                "lng": "number",
                                                "geo_timestamp": "2025-08-01 12:00:00",
                                                "altitude": "number",
                                                "field_data": [
                                                    {
                                                        "uuid": "string",
                                                        "fieldType": "string",
                                                        "fieldName": "string",
                                                        "fieldValue": "string",
                                                        "sortOrder": "number"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/asset/{uuid}.json": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "operationId": "getAssets",
                "summary": "Retrieve an Asset",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Asset"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-9ebb-4c50-bc02-231cf1e8362b",
                                            "active": 1,
                                            "edit_date": "2025-08-01 12:00:00",
                                            "company_uuid": "123e4567-d975-4615-a15d-231cf99e707b",
                                            "asset_code": "string",
                                            "asset_type_uuid": "123e4567-9703-469c-a595-231cfb79283b",
                                            "name": "string",
                                            "lat": "number",
                                            "lng": "number",
                                            "geo_timestamp": "2025-08-01 12:00:00",
                                            "altitude": "number",
                                            "field_data": [
                                                {
                                                    "uuid": "string",
                                                    "fieldType": "string",
                                                    "fieldName": "string",
                                                    "fieldValue": "string",
                                                    "sortOrder": "number"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Assets"
                ],
                "operationId": "updateAssets",
                "summary": "Update an Asset",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Asset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Assets"
                ],
                "operationId": "deleteAssets",
                "summary": "Delete an Asset",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettype.json": {
            "get": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "listAssetTypes",
                "summary": "List all Asset Types",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Asset Types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AssetType"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-4bce-405e-804f-231cf50ff28b",
                                                "active": 1,
                                                "edit_date": "2025-08-01 12:00:00",
                                                "name": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "createAssetTypes",
                "summary": "Create a new Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Asset Type record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Asset Type record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettype/{uuid}.json": {
            "get": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "getAssetTypes",
                "summary": "Retrieve an Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetType"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-bbb5-4ba0-b7a0-231cfaea360b",
                                            "active": 1,
                                            "edit_date": "2025-08-01 12:00:00",
                                            "name": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "updateAssetTypes",
                "summary": "Update an Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset Type fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "deleteAssetTypes",
                "summary": "Delete an Asset Type",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettypefield.json": {
            "get": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "listAssetTypeFields",
                "summary": "List all Asset Type Fields",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Asset Type Fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AssetTypeField"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-8f61-4478-b2c0-231cf762195b",
                                                "active": 1,
                                                "edit_date": "2025-08-01 12:00:00",
                                                "asset_type_uuid": "123e4567-2fb3-4eb1-b7ca-231cf2d9d20b",
                                                "name": "string",
                                                "field_data": {
                                                    "fieldType": "string",
                                                    "mandatory": "string",
                                                    "choices": [
                                                        "string"
                                                    ]
                                                },
                                                "sort_order": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "createAssetTypeFields",
                "summary": "Create a new Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Asset Type Field record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetTypeField"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Asset Type Field record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettypefield/{uuid}.json": {
            "get": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "getAssetTypeFields",
                "summary": "Retrieve an Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type Field record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetTypeField"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-c5c9-4297-b619-231cf0c6ee3b",
                                            "active": 1,
                                            "edit_date": "2025-08-01 12:00:00",
                                            "asset_type_uuid": "123e4567-c42f-49fa-a510-231cfaf1df5b",
                                            "name": "string",
                                            "field_data": {
                                                "fieldType": "string",
                                                "mandatory": "string",
                                                "choices": [
                                                    "string"
                                                ]
                                            },
                                            "sort_order": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "updateAssetTypeFields",
                "summary": "Update an Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset Type Field fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetTypeField"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "deleteAssetTypeFields",
                "summary": "Delete an Asset Type Field",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type Field successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/attachment.json": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "listAttachments",
                "summary": "List all Attachments",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Attachments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Attachment"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-9fe7-45e9-b0a6-231cf0ccfb5b",
                                                "active": 1,
                                                "edit_date": "2025-08-01 12:00:00",
                                                "related_object": "string",
                                                "related_object_uuid": "123e4567-d548-41a7-bc66-231cf102bcdb",
                                                "attachment_name": "string",
                                                "file_type": "string",
                                                "created_by_staff_uuid": "123e4567-13b2-42ea-a781-231cf8f8abdb",
                                                "timestamp": "string",
                                                "attachment_source": "string",
                                                "tags": "string",
                                                "lng": "number",
                                                "lat": "number",
                                                "photo_width": "string",
                                                "photo_height": "string",
                                                "extracted_info": "string",
                                                "is_favourite": "string",
                                                "class_name": "string",
                                                "metadata": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "createAttachments",
                "summary": "Create a new Attachment",
                "description": "\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Attachment record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Attachment record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/attachment/{uuid}.json": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "getAttachments",
                "summary": "Retrieve an Attachment",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attachment record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Attachment"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-aee3-4952-82b3-231cfa942c8b",
                                            "active": 1,
                                            "edit_date": "2025-08-01 12:00:00",
                                            "related_object": "string",
                                            "related_object_uuid": "123e4567-5408-4c01-9fb0-231cf43d6f7b",
                                            "attachment_name": "string",
                                            "file_type": "string",
                                            "created_by_staff_uuid": "123e4567-8759-47cc-96c5-231cf7383ffb",
                                            "timestamp": "string",
                                            "attachment_source": "string",
                                            "tags": "string",
                                            "lng": "number",
                                            "lat": "number",
                                            "photo_width": "string",
                                            "photo_height": "string",
                                            "extracted_info": "string",
                                            "is_favourite": "string",
                                            "class_name": "string",
                                            "metadata": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "updateAttachments",
                "summary": "Update an Attachment",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Attachment fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "deleteAttachments",
                "summary": "Delete an Attachment",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attachment successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/badge.json": {
            "get": {
                "tags": [
                    "Badges"
                ],
                "operationId": "listBadges",
                "summary": "List all Badges",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Badges",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Badge"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-cb6d-4620-b005-231cfc8b224b",
                                                "active": 1,
                                                "edit_date": "2025-08-01 12:00:00",
                                                "name": "string",
                                                "automatically_allocated": "string",
                                                "file_name": "string",
                                                "regarding_form_uuid": "123e4567-ff6d-4261-b6cd-231cf3396ebb",
                                                "regarding_asset_type_uuid": "123e4567-824a-46da-86a0-231cff2863ab"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Badges"
                ],
                "operationId": "createBadges",
                "summary": "Create a new Badge",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Badge record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Badge"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Badge record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/badge/{uuid}.json": {
            "get": {
                "tags": [
                    "Badges"
                ],
                "operationId": "getBadges",
                "summary": "Retrieve a Badge",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Badge",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Badge record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Badge"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-506f-4b1d-b729-231cfacddcbb",
                                            "active": 1,
                                            "edit_date": "2025-08-01 12:00:00",
                                            "name": "string",
                                            "automatically_allocated": "string",
                                            "file_name": "string",
                                            "regarding_form_uuid": "123e4567-f28c-4c64-a91e-231cf65ee89b",
                                            "regarding_asset_type_uuid": "123e4567-e06c-4c21-99b4-231cfd03ccdb"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
[...]
