{
    "openapi": "3.0.1",
    "info": {
        "title": "ServiceM8 API",
        "description": "Move your app forward with the ServiceM8 API\n\n\n\n## Limits and Throttling\nTo ensure continuous quality of service, API usage can be subject to throttling. The throttle will be applied once an API consumer reaches a certain \nthreshold in terms of a maximum number of requests per minute. Most clients will never hit this threshold, but those that do, will get met by a \nHTTP 429 Too Many Requests response code. \n \nThere is a limit of 180 requests per minute, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per minute exceeded\".\nThere is a limit of 20000 requests per day, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per day exceeded\".\n\nWe encourage all API developers to anticipate this error, and take appropriate measures like e.g. using a cached value from a previous call, or passing on a message to the end user that gets subjected to this behaviour (if any).\n\nLimits are per Addon per account.\n",
        "termsOfService": "https://www.servicem8.com/terms-of-service",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.servicem8.com/api_1.0"
        }
    ],
    "security": [
        {
            "apiKey": []
        },
        {
            "oauth2": []
        }
    ],
    "paths": {
        "/allocationwindow.json": {
            "get": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "listAllocationWindows",
                "summary": "List all Allocation Windows",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Allocation Windows",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AllocationWindow"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-30f1-45ed-8405-22bdcbfd27bb",
                                                "active": 1,
                                                "edit_date": "2025-05-01 12:00:00",
                                                "name": "string",
                                                "start_time": "string",
                                                "end_time": "string",
                                                "sort_priority": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "createAllocationWindows",
                "summary": "Create a new Allocation Window",
                "description": "\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Allocation Window record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllocationWindow"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Allocation Window record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allocationwindow/{uuid}.json": {
            "get": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "getAllocationWindows",
                "summary": "Retrieve an Allocation Window",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocation Window record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllocationWindow"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-2dea-4bce-b06d-22bdc11c890b",
                                            "active": 1,
                                            "edit_date": "2025-05-01 12:00:00",
                                            "name": "string",
                                            "start_time": "string",
                                            "end_time": "string",
                                            "sort_priority": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "updateAllocationWindows",
                "summary": "Update an Allocation Window",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Allocation Window fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllocationWindow"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "deleteAllocationWindows",
                "summary": "Delete an Allocation Window",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocation Window successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/asset.json": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "operationId": "listAssets",
                "summary": "List all Assets",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Assets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Asset"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-96b1-4b95-bd5a-22bdc62c069b",
                                                "active": 1,
                                                "edit_date": "2025-05-01 12:00:00",
                                                "company_uuid": "123e4567-46b6-404d-b829-22bdcd700eab",
                                                "asset_code": "string",
                                                "asset_type_uuid": "123e4567-fe7c-47c1-b91f-22bdc646fdeb",
                                                "name": "string",
                                                "lat": "number",
                                                "lng": "number",
                                                "geo_timestamp": "2025-05-01 12:00:00",
                                                "altitude": "number",
                                                "field_data": [
                                                    {
                                                        "uuid": "string",
                                                        "fieldType": "string",
                                                        "fieldName": "string",
                                                        "fieldValue": "string",
                                                        "sortOrder": "number"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/asset/{uuid}.json": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "operationId": "getAssets",
                "summary": "Retrieve an Asset",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Asset"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-d16b-434b-9b2d-22bdc498917b",
                                            "active": 1,
                                            "edit_date": "2025-05-01 12:00:00",
                                            "company_uuid": "123e4567-17ed-4597-a449-22bdc798b18b",
                                            "asset_code": "string",
                                            "asset_type_uuid": "123e4567-9262-474e-9197-22bdc65c44fb",
                                            "name": "string",
                                            "lat": "number",
                                            "lng": "number",
                                            "geo_timestamp": "2025-05-01 12:00:00",
                                            "altitude": "number",
                                            "field_data": [
                                                {
                                                    "uuid": "string",
                                                    "fieldType": "string",
                                                    "fieldName": "string",
                                                    "fieldValue": "string",
                                                    "sortOrder": "number"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Assets"
                ],
                "operationId": "updateAssets",
                "summary": "Update an Asset",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Asset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Assets"
                ],
                "operationId": "deleteAssets",
                "summary": "Delete an Asset",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettype.json": {
            "get": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "listAssetTypes",
                "summary": "List all Asset Types",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Asset Types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AssetType"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-db12-4889-afed-22bdc0aff72b",
                                                "active": 1,
                                                "edit_date": "2025-05-01 12:00:00",
                                                "name": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "createAssetTypes",
                "summary": "Create a new Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Asset Type record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Asset Type record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettype/{uuid}.json": {
            "get": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "getAssetTypes",
                "summary": "Retrieve an Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetType"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-000d-4e2b-92a5-22bdc2e5755b",
                                            "active": 1,
                                            "edit_date": "2025-05-01 12:00:00",
                                            "name": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "updateAssetTypes",
                "summary": "Update an Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset Type fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "deleteAssetTypes",
                "summary": "Delete an Asset Type",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettypefield.json": {
            "get": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "listAssetTypeFields",
                "summary": "List all Asset Type Fields",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Asset Type Fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AssetTypeField"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-f280-4eb4-9053-22bdcea83c7b",
                                                "active": 1,
                                                "edit_date": "2025-05-01 12:00:00",
                                                "asset_type_uuid": "123e4567-71fd-4c45-8ab0-22bdc1c8e38b",
                                                "name": "string",
                                                "field_data": {
                                                    "fieldType": "string",
                                                    "mandatory": "string",
                                                    "choices": [
                                                        "string"
                                                    ]
                                                },
                                                "sort_order": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "createAssetTypeFields",
                "summary": "Create a new Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Asset Type Field record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetTypeField"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Asset Type Field record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettypefield/{uuid}.json": {
            "get": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "getAssetTypeFields",
                "summary": "Retrieve an Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type Field record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetTypeField"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-5330-4709-a2ca-22bdcf22222b",
                                            "active": 1,
                                            "edit_date": "2025-05-01 12:00:00",
                                            "asset_type_uuid": "123e4567-6033-4286-bd4e-22bdc802520b",
                                            "name": "string",
                                            "field_data": {
                                                "fieldType": "string",
                                                "mandatory": "string",
                                                "choices": [
                                                    "string"
                                                ]
                                            },
                                            "sort_order": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "updateAssetTypeFields",
                "summary": "Update an Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset Type Field fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetTypeField"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "deleteAssetTypeFields",
                "summary": "Delete an Asset Type Field",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type Field successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/attachment.json": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "listAttachments",
                "summary": "List all Attachments",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Attachments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Attachment"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-71a7-4805-a485-22bdc886845b",
                                                "active": 1,
                                                "edit_date": "2025-05-01 12:00:00",
                                                "related_object": "string",
                                                "related_object_uuid": "123e4567-d377-4bfd-a2e2-22bdcb4e7dab",
                                                "attachment_name": "string",
                                                "file_type": "string",
                                                "created_by_staff_uuid": "123e4567-cb3d-4154-8225-22bdccfd58fb",
                                                "timestamp": "string",
                                                "attachment_source": "string",
                                                "tags": "string",
                                                "lng": "number",
                                                "lat": "number",
                                                "photo_width": "string",
                                                "photo_height": "string",
                                                "extracted_info": "string",
                                                "is_favourite": "string",
                                                "class_name": "string",
                                                "metadata": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "createAttachments",
                "summary": "Create a new Attachment",
                "description": "\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Attachment record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Attachment record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/attachment/{uuid}.json": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "getAttachments",
                "summary": "Retrieve an Attachment",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attachment record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Attachment"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-72b6-42c1-9f07-22bdc19cb0bb",
                                            "active": 1,
                                            "edit_date": "2025-05-01 12:00:00",
                                            "related_object": "string",
                                            "related_object_uuid": "123e4567-9209-4d85-892f-22bdc20c43ab",
                                            "attachment_name": "string",
                                            "file_type": "string",
                                            "created_by_staff_uuid": "123e4567-035b-464b-b330-22bdc801153b",
                                            "timestamp": "string",
                                            "attachment_source": "string",
                                            "tags": "string",
                                            "lng": "number",
                                            "lat": "number",
                                            "photo_width": "string",
                                            "photo_height": "string",
                                            "extracted_info": "string",
                                            "is_favourite": "string",
                                            "class_name": "string",
                                            "metadata": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "updateAttachments",
                "summary": "Update an Attachment",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Attachment fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "deleteAttachments",
                "summary": "Delete an Attachment",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attachment successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/badge.json": {
            "get": {
                "tags": [
                    "Badges"
                ],
                "operationId": "listBadges",
                "summary": "List all Badges",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Badges",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Badge"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-e074-4fad-b8f0-22bdcb4cb61b",
                                                "active": 1,
                                                "edit_date": "2025-05-01 12:00:00",
                                                "name": "string",
                                                "automatically_allocated": "string",
                                                "file_name": "string",
                                                "regarding_form_uuid": "123e4567-3ff7-49dd-86f7-22bdcec05c9b",
                                                "regarding_asset_type_uuid": "123e4567-44d8-4024-a42d-22bdc8da247b"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Badges"
                ],
                "operationId": "createBadges",
                "summary": "Create a new Badge",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Badge record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Badge"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Badge record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/badge/{uuid}.json": {
            "get": {
                "tags": [
                    "Badges"
                ],
                "operationId": "getBadges",
                "summary": "Retrieve a Badge",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Badge",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Badge record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Badge"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-3924-41a7-953e-22bdc4fe57fb",
                                            "active": 1,
                                            "edit_date": "2025-05-01 12:00:00",
                                            "name": "string",
                                            "automatically_allocated": "string",
                                            "file_name": "string",
                                            "regarding_form_uuid": "123e4567-a126-4a7a-8e2e-22bdc9bebadb",
                                            "regarding_asset_type_uuid": "123e4567-b4f3-4a26-bc09-22bdca9d2d0b"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
[...]
