{
    "openapi": "3.1.0",
    "info": {
        "title": "ServiceM8 API",
        "description": "Move your app forward with the ServiceM8 API\n\n\n\n## Limits and Throttling\nTo ensure continuous quality of service, API usage can be subject to throttling. The throttle will be applied once an API consumer reaches a certain \nthreshold in terms of a maximum number of requests per minute. Most clients will never hit this threshold, but those that do, will get met by a \nHTTP 429 Too Many Requests response code. \n \nThere is a limit of 180 requests per minute, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per minute exceeded\".\nThere is a limit of 20000 requests per day, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per day exceeded\".\n\nWe encourage all API developers to anticipate this error, and take appropriate measures like e.g. using a cached value from a previous call, or passing on a message to the end user that gets subjected to this behaviour (if any).\n\nLimits are per Addon per account.\n",
        "termsOfService": "https://www.servicem8.com/terms-of-service",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.servicem8.com/api_1.0"
        }
    ],
    "security": [
        {
            "apiKey": []
        },
        {
            "oauth2": []
        }
    ],
    "paths": {
        "/allocationwindow.json": {
            "get": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "listAllocationWindows",
                "summary": "List all Allocation Windows",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Allocation Windows",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AllocationWindow"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-a26e-4717-b796-230c4bd5c14b",
                                                "active": 1,
                                                "edit_date": "2025-07-01 12:00:00",
                                                "name": "string",
                                                "start_time": "string",
                                                "end_time": "string",
                                                "sort_priority": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "createAllocationWindows",
                "summary": "Create a new Allocation Window",
                "description": "\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Allocation Window record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllocationWindow"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Allocation Window record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allocationwindow/{uuid}.json": {
            "get": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "getAllocationWindows",
                "summary": "Retrieve an Allocation Window",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocation Window record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllocationWindow"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-7134-4ec0-b347-230c46ec449b",
                                            "active": 1,
                                            "edit_date": "2025-07-01 12:00:00",
                                            "name": "string",
                                            "start_time": "string",
                                            "end_time": "string",
                                            "sort_priority": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "updateAllocationWindows",
                "summary": "Update an Allocation Window",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Allocation Window fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllocationWindow"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Allocation Windows"
                ],
                "operationId": "deleteAllocationWindows",
                "summary": "Delete an Allocation Window",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Allocation Window",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocation Window successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/asset.json": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "operationId": "listAssets",
                "summary": "List all Assets",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Assets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Asset"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-6f99-4cbd-bef1-230c43c8ad5b",
                                                "active": 1,
                                                "edit_date": "2025-07-01 12:00:00",
                                                "company_uuid": "123e4567-ff07-4f4b-9d1f-230c40b40acb",
                                                "asset_code": "string",
                                                "asset_type_uuid": "123e4567-e835-42cc-a73d-230c4ef424ab",
                                                "name": "string",
                                                "lat": "number",
                                                "lng": "number",
                                                "geo_timestamp": "2025-07-01 12:00:00",
                                                "altitude": "number",
                                                "field_data": [
                                                    {
                                                        "uuid": "string",
                                                        "fieldType": "string",
                                                        "fieldName": "string",
                                                        "fieldValue": "string",
                                                        "sortOrder": "number"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/asset/{uuid}.json": {
            "get": {
                "tags": [
                    "Assets"
                ],
                "operationId": "getAssets",
                "summary": "Retrieve an Asset",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Asset"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-81a7-4130-a9c7-230c484091eb",
                                            "active": 1,
                                            "edit_date": "2025-07-01 12:00:00",
                                            "company_uuid": "123e4567-00c3-4edf-a9b0-230c4917b44b",
                                            "asset_code": "string",
                                            "asset_type_uuid": "123e4567-680e-42c0-96da-230c42d84d9b",
                                            "name": "string",
                                            "lat": "number",
                                            "lng": "number",
                                            "geo_timestamp": "2025-07-01 12:00:00",
                                            "altitude": "number",
                                            "field_data": [
                                                {
                                                    "uuid": "string",
                                                    "fieldType": "string",
                                                    "fieldName": "string",
                                                    "fieldValue": "string",
                                                    "sortOrder": "number"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Assets"
                ],
                "operationId": "updateAssets",
                "summary": "Update an Asset",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Asset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Assets"
                ],
                "operationId": "deleteAssets",
                "summary": "Delete an Asset",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettype.json": {
            "get": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "listAssetTypes",
                "summary": "List all Asset Types",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Asset Types",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AssetType"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-d250-43a0-a73d-230c48ae410b",
                                                "active": 1,
                                                "edit_date": "2025-07-01 12:00:00",
                                                "name": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "createAssetTypes",
                "summary": "Create a new Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Asset Type record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Asset Type record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettype/{uuid}.json": {
            "get": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "getAssetTypes",
                "summary": "Retrieve an Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetType"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-7763-407e-9930-230c4b11249b",
                                            "active": 1,
                                            "edit_date": "2025-07-01 12:00:00",
                                            "name": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "updateAssetTypes",
                "summary": "Update an Asset Type",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset Type fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Asset Types"
                ],
                "operationId": "deleteAssetTypes",
                "summary": "Delete an Asset Type",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettypefield.json": {
            "get": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "listAssetTypeFields",
                "summary": "List all Asset Type Fields",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Asset Type Fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AssetTypeField"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-9135-40b4-bf55-230c403599eb",
                                                "active": 1,
                                                "edit_date": "2025-07-01 12:00:00",
                                                "asset_type_uuid": "123e4567-034c-4ba0-87d8-230c425a620b",
                                                "name": "string",
                                                "field_data": {
                                                    "fieldType": "string",
                                                    "mandatory": "string",
                                                    "choices": [
                                                        "string"
                                                    ]
                                                },
                                                "sort_order": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "createAssetTypeFields",
                "summary": "Create a new Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Asset Type Field record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetTypeField"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Asset Type Field record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assettypefield/{uuid}.json": {
            "get": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "getAssetTypeFields",
                "summary": "Retrieve an Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "read_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type Field record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetTypeField"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-0660-47cb-8ed8-230c491cdc8b",
                                            "active": 1,
                                            "edit_date": "2025-07-01 12:00:00",
                                            "asset_type_uuid": "123e4567-4967-4757-93e5-230c49fc924b",
                                            "name": "string",
                                            "field_data": {
                                                "fieldType": "string",
                                                "mandatory": "string",
                                                "choices": [
                                                    "string"
                                                ]
                                            },
                                            "sort_order": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "updateAssetTypeFields",
                "summary": "Update an Asset Type Field",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Asset Type Field fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssetTypeField"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Asset Type Fields"
                ],
                "operationId": "deleteAssetTypeFields",
                "summary": "Delete an Asset Type Field",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_assets"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Asset Type Field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset Type Field successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/attachment.json": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "listAttachments",
                "summary": "List all Attachments",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Attachments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Attachment"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-141f-4461-8be9-230c4e833aeb",
                                                "active": 1,
                                                "edit_date": "2025-07-01 12:00:00",
                                                "related_object": "string",
                                                "related_object_uuid": "123e4567-e2b4-4776-88f8-230c4f2b79ab",
                                                "attachment_name": "string",
                                                "file_type": "string",
                                                "created_by_staff_uuid": "123e4567-59f5-432d-a38a-230c411bf17b",
                                                "timestamp": "string",
                                                "attachment_source": "string",
                                                "tags": "string",
                                                "lng": "number",
                                                "lat": "number",
                                                "photo_width": "string",
                                                "photo_height": "string",
                                                "extracted_info": "string",
                                                "is_favourite": "string",
                                                "class_name": "string",
                                                "metadata": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "createAttachments",
                "summary": "Create a new Attachment",
                "description": "\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Attachment record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Attachment record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/attachment/{uuid}.json": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "getAttachments",
                "summary": "Retrieve an Attachment",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attachment record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Attachment"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-cd33-4f04-b59c-230c457fd56b",
                                            "active": 1,
                                            "edit_date": "2025-07-01 12:00:00",
                                            "related_object": "string",
                                            "related_object_uuid": "123e4567-9ea3-414e-b2ee-230c4682bbfb",
                                            "attachment_name": "string",
                                            "file_type": "string",
                                            "created_by_staff_uuid": "123e4567-752d-4f94-950b-230c490ad2eb",
                                            "timestamp": "string",
                                            "attachment_source": "string",
                                            "tags": "string",
                                            "lng": "number",
                                            "lat": "number",
                                            "photo_width": "string",
                                            "photo_height": "string",
                                            "extracted_info": "string",
                                            "is_favourite": "string",
                                            "class_name": "string",
                                            "metadata": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "updateAttachments",
                "summary": "Update an Attachment",
                "description": "",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Attachment fields to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "operationId": "deleteAttachments",
                "summary": "Delete an Attachment",
                "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": []
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Attachment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attachment successfully archived",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/badge.json": {
            "get": {
                "tags": [
                    "Badges"
                ],
                "operationId": "listBadges",
                "summary": "List all Badges",
                "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of Badges",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Badge"
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": [
                                            {
                                                "uuid": "123e4567-ab4b-4d98-9c13-230c438bc0cb",
                                                "active": 1,
                                                "edit_date": "2025-07-01 12:00:00",
                                                "name": "string",
                                                "automatically_allocated": "string",
                                                "file_name": "string",
                                                "regarding_form_uuid": "123e4567-8255-4af3-a024-230c4d79d66b",
                                                "regarding_asset_type_uuid": "123e4567-01dc-4597-b0fd-230c44e16a6b"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Badges"
                ],
                "operationId": "createBadges",
                "summary": "Create a new Badge",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Badge record to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Badge"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "headers": {
                            "x-record-uuid": {
                                "description": "UUID of newly created Badge record",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "errorCode": "0",
                                            "message": "OK"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
                                            "errorCode": "1000",
                                            "message": "An error occurred completing your request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/badge/{uuid}.json": {
            "get": {
                "tags": [
                    "Badges"
                ],
                "operationId": "getBadges",
                "summary": "Retrieve a Badge",
                "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_badges**.\n\n\t\t\t",
                "security": [
                    {
                        "apiKey": []
                    },
                    {
                        "oauth2": [
                            "manage_badges"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "UUID of the Badge",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Badge record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Badge"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "uuid": "123e4567-a3f4-4fe2-82f7-230c4bf9f20b",
                                            "active": 1,
                                            "edit_date": "2025-07-01 12:00:00",
                                            "name": "string",
                                            "automatically_allocated": "string",
                                            "file_name": "string",
                                            "regarding_form_uuid": "123e4567-4732-4983-91d2-230c4638cb3b",
                                            "regarding_asset_type_uuid": "123e4567-823e-45a0-bffb-230c4196de6b"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "examples": {
                                    "badRequest": {
                                        "value": {
[...]
